/* Reset styles */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: white;
  }

.containerall{
    width: 100%;
    
}
 

header{
    /* Header */
position: relative;
background: #042603;
width: 100%;


}

.logo{
    /* FreshLink Logo OG 1 */



width: 54px;
height: 67px;
left: 10px;
margin-right: auto;
padding-top: 20px;
}

.NavigationBar{
    list-style: none; 
    display: flex;
    margin: 0px auto; 

}

.items{
    padding-right: 20px;
    padding-top: 40px;
    margin-right: 20px;
    
    
}

.items a{
    color: white;
    text-decoration: none;
    width: 100%;
} 

.items a:hover{
    color: yellow;
}

.About{
    position: absolute;
    width: 100%;
    height: 275px;
    top: 87px;
    
}


.AboutUs{
    /* ABOUT US */


position: absolute;
width: 200px;
height: 23px;
left: 34px;
top: 0px;

font-family: 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 29px;

color: #042603;


}

.About p{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 20px;
    top: 50px;
    
    font-family:  'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    
    color: #000000; 
}



.services{
    /* Services section */

    position: absolute;
    display: flex;
    width: 100%;
    height: 300px;
    background-color: whitesmoke;
    top: 275px;
    justify-content: center;
    align-items: center;
    gap: 50px;


}



.services h2{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700;
    color: #042603;
    position: absolute;
    top: -20px;
} 

.BuySell img{
    /* Buy and sell logo*/


position: relative;
width: 200px;
height: 200px;
margin-left: 70px;

}

.BuySell p{
    /* Buy and Sell */
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    line-height: 44px;
    font-size: 30px;
    width: 45x;
    height: 40x;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    margin-left: 70px;


}


.Networking img{
    /* Handshake (1) 1*/


position: relative;
width: 200px;
height: 200px;
/*left: 531px;
top: 21px; */

}


.Networking p{
    /* Network */
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    line-height: 44px;
    font-size: 30px;
    width: 45x;
    height: 40x;
    font-style: normal;
    font-weight: 400;
    color: #000000;

} 

.Training img{
    /* Training 1 */ 


position: relative;
width: 200px;
height: 200px;
/*
left: 979px;
top: 7px;
*/
}



.Training p{
    /* Train */

    position: relative;
    font-family: 'Times New Roman', Times, serif;
    line-height: 44px;
    font-size: 30px;
    width: 45x;
    height: 45x;
    font-style: normal;
    font-weight: 400;
    color: #000000;
} 


.video{
    position: absolute;
    display: flex;
    width: 100%;
    height: 250px;
    top: 562px;
    background: #042603;
    justify-content: center;
    align-items: center;

}

.img {
    width: 300px;
    height: 200px;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    transition: all .5s;
  }

 .img:hover {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .2);
    opacity: .7;
  } 

  .img::before, .img::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    
  }

  .img::before {
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    background-color: #333;
    border-radius: 50%;
    
    

  }

  .img::after {
    margin: -8px 0 0 -6px;
    border-style: solid;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #fff;
    
    
  }


.img img{
    width: 300px;
   object-fit: cover;
   vertical-align: baseline;

}
/*.wplightbox{
    background:#042603;
    height: 450px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
} 



.lightboxContainer {
    position:relative;

  }
   
  .lightboxContainer:after {
    content:url("https://www.wonderplugin.com/download/playbutton.png");
    z-index:999;
    position: absolute;
    top:50%;
    left:50%;
    margin-left:-32px;
    margin-top:-32px;
    opacity:0.8;
  }
   
  .lightboxContainer:hover:after {
    opacity:1;
  }
   
  .lightboxContainer img {
    width: 250px;
  } */
  

.team{
    position: absolute;
    background: whitesmoke;
    margin-top: 400px;
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border: 1px solid yellow;
    top:413px;

    
    
}

.Elsie img{
    
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: relative;
}

.elsie p{
    text-align: center;
}


.Sugira img{
    
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.Sugira p{
    text-align: center;
}

.Stephen img{
    
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.Stephen p{
    text-align: center;
}


.Husna img{
    
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.Husna p{
    text-align: center;
}

.Fred img{
    
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.Fred p{
    text-align: center;
}

.footer{
    position: relative;
    background: #042603;
    top: 947px;
    width: 100%;
    height: 300px;
    display: table;
    justify-content: center;
    content:"";
    clear: both;
}

#Contact{
    position: relative;
    height: 250px;
    width: 200px;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
   

}

#Contact a{
    text-decoration: none;
    color: white; 
}

.copyright{
    position: absolute;
    height: 45px; 
    bottom: 0;
    transform: translate(-50%, -50%);
    left: 40%;
    right: 25%;
    font-size: 9px;
    width: 190px;
}

#logo img{
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 50px;;
    
}

@media only screen and (min-width:1581px){
    .containerall{
        width: 100%;
        margin: 0 auto;
        
    }
}
@media only screen and (min-width: 816px){
.team {
    position: absolute;
    background: whitesmoke;
    margin-top: 400px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid yellow;
    top: 413px;
}

.footer {
    position: relative;
    background: #042603;
    top: 947px;
    width: 100%;
    height: 300px;
    display: table;
    justify-content: center;
    content: "";
    clear: both;
    padding-left: 5px;
    padding-right: -3px;
}
}

